/*
 * Header link placement and hover behavior
 */

.header-link {
  position: absolute;
  padding-right: .5em;
  margin-left: -1em;
  color: inherit !important;
  text-decoration: none !important;
  opacity: 0;
}

.header-link .fa {
  font-size: 66%;
  vertical-align: .1em;
}

/* do not display in less than 768px screen */
@media (max-width: 767px) {
  .header-link {
    display: none !important;
  }
}

/* A touch screen device, where the primary pointer system is the finger and can't hover, will take the value of none. */
@media (hover: none) {
  .header-link {
    opacity: .75;
  }
}

*:hover > .header-link {
  opacity: .75;
  /* to fade links as they appear, change transition-property from 'color' to 'all' */
  -webkit-transition: color .16s linear;
  transition: color .16s linear;
}

*:hover > .header-link:hover,
*:hover > .header-link:focus {
  opacity: 1;
}

/* right header-link on small screen */
@media (min-width: 768px) {
  .header-link-r {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .header-link-r {
    display: inline !important;
    opacity: .75;
    padding-left: 1.2em;
    margin-right: -1em;
    color: #3F729B !important;
  }
}