
<!-- ==== BEGIN duoshuo comment frame ==== -->
	<div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
<!-- END dushuo comment frame -->

<!-- ==== BEGIN javascripts for duoshuo ==== -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"mageluer"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- END javascripts for duoshuo -->
