<!-- ==== BEGIN footer ==== -->
<footer id="foot" role="contentinfo">

    <div class="foot sep"></div>

    <!-- ==== Social sites ==== -->
    <p class="l social">
	<a href="https://plus.google.com/u/0/104643883202022740598"><span class="icon-google-plus2"></span></a><a href="https://www.facebook.com/fengfeng.song.5"><span class="icon-facebook2"></span></a><a href="https://github.com/mageluer"><span class="icon-github"></span></a><a href="http://stackoverflow.com/users/6761532/mageluer"><span class="icon-stackoverflow"></span></a><a href="https://dribbble.com/Mageluer"><span class="icon-dribbble"></span></a>
    </p>
					        
    <p class="r legal">&copy;Copyrights 2015-2017 | Mageluer | Proudly published with <a href="https://pages.github.com">GitHub Pages</a></p>

</footer>
<!-- END footer -->
