<!-- BEGIN header -->
<header class="masthead" role="banner">

    <div class="open sep"></div>

	<!-- ==== Logo ==== -->
	<div id="logo">
	    <p>Mageluer Swimming Pool</p>
	</div>

	<!-- ==== Menu ==== -->
	<nav role="navigation">
	    <ol id="menu">
		<li class="menu-item"><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
		<li class="menu-item"><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
		<li class="menu-item"><a href="http://music.163.com/#/user/home?id=74939826">Music</a></li>
		<li class="menu-item"><a href="{{ "/about" | prepend: site.baseurl }}">About Me</a></li>
		<li class="menu-item"><a href="{{ "/contact" | prepend: site.baseurl }}">Contact Me</a></li>
	</nav>

	<!-- ==== Menu-list-mobile ==== -->

	<div class="light sep"><div>
																					
	<!-- ==== Need Script for mobile menu ==== -->


</header>
<!-- END header -->
