---
layout: default
---

{% include header.html %}

<main>

    <article class="post">
        <h1>{{ page.title }}</h1>

        <main class="post-content markdown-body">

            {{ content }}

	    <div class="sep light"></div>

	    <div class="post-recent">
	    {% if page.previous %}
	    <a class="previous" href="{{ page.previous.url | prepend: site.baseurl }}">&laquo; {{ page.previous.title }}</a>
	    {% endif %}
	    {% if page.next %}
	    <a class="next" href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }} &raquo;</a>
	    {% endif %}
	    </div>

            {% include share.html %}
	    {% include comment.html %}
            
            <div class="go-to-top">
                <span class="icon-arrow-up2"></span>
            </div>
            
            <!-- ==== Javasript for go-to-top icon ==== -->
            <script>
            var gotop = document.querySelector(".go-to-top");
            gotop.addEventListener("click", function(e){
		timer = setInterval(function(){
		    var toTop = document.documentElement.scrollTop||document.body.scrollTop;
		    var speed = Math.ceil(toTop/5);
		    document.documentElement.scrollTop = document.body.scrollTop = toTop - speed;
    		    if(toTop == 0) {
		        clearInterval(timer);
		    }
		}, 50)
            }, false );
            window.onscroll = function(){
		var display = gotop.style.display;
                var top = document.documentElement.scrollTop||document.body.scrollTop;
                var height = document.documentElement.clientHeight;
		if(top > height*1.2 ){
		    if(display !== "block"){
			gotop.style.display = "block";
		    }
		    }else{
		        if(display !== "none"){
			    gotop.style.display = "none";
			}
		    }
	    };
            </script>
   
	</main>
        
        {% if page.nav == true %}
	{% include nav.html %}
	{% endif %}

    </article>

</main>

{% include footer.html %}
